<div class="page-header">
  <h3><%= @key_food.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @key_food.name %></dd>

    </dl>

    <h3>
      Recipes
    </h3> 

    <dd>
        <ul class="list-group">
        <% @key_food.recipes.each do |recipe| %>
          <li class="list-group-item">
            <a href="/recipes/<%= recipe.id %>">
              <%= recipe.name %>
            </a>
          </li>
        <% end %>
        </ul>
      </dd>

    <div class="btn-group btn-group-justified">
      <a href="/key_foods" class="btn btn-primary">
        Back
      </a>
      <a href="/key_foods/<%= @key_food.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_key_food/<%= @key_food.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
