<!-- Validation failure messages -->
<% if @recipe.errors.any? %>
  <% @recipe.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Recipe</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_recipe" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @recipe.name %>">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id"  value="<%= current_user.id%>">

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="ingredients" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @recipe.description %></textarea>
      </div>

      <!-- Label and input for cuisine_id -->
      <div class="form-group">
        <label for="cuisine_id" class="control-label">
          Cuisine
        </label>

          <%= select_tag(:cuisine_id, options_from_collection_for_select(Cuisine.order("name ASC"), :id, :name, @recipe.cuisine_id), :class => "form-control") %>

      </div>

      <!-- Label and input for type_id -->
      <div class="form-group">
        <label for="type_id" class="control-label">
          Type
        </label>

          <%= select_tag(:type_id, options_from_collection_for_select(Type.order("name ASC"), :id, :name, @recipe.type_id), :class => "form-control") %>

      <!-- Label and input for key_food_id -->
      <div class="form-group">
        <label for="key_food_id" class="control-label">
          Key food
        </label>

        <%= select_tag(:key_food_id, options_from_collection_for_select(KeyFood.order("name ASC"), :id, :name, @recipe.key_food_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Recipe
      </button>
      or
      <a href="/recipes">Cancel</a>
    </form>
  </div>
</div>
