<div class="page-header">
  <h3><%= @recipe.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @recipe.name %></dd>

      <dt>Cuisine</dt>
      <dd><%= @recipe.cuisine.name %></dd>

      <dt>Type</dt>
      <dd><%= @recipe.type.name %></dd>

      <dt>Key food</dt>
      <dd><%= @recipe.key_food.name %></dd>

      <dt>Description</dt>
      <dd><%= @recipe.description %></dd>



    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/recipes" class="btn btn-primary">
        Back
      </a>
      <a href="/recipes/<%= @recipe.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_recipe/<%= @recipe.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
